<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('../partials/header') %>

<div class="edit-ctr">
  <div class="edit-form">
    <div class="title">
      <h1><%= title %></h1>
    </div>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div class="heading-input">
            <textarea name="heading"><%= post.heading %></textarea>
        </div>
        <div class="subHeading-input"> 
            <textarea name="subHeading1"><%= post.subHeading1 %></textarea>
            <textarea name="subHeading2"><%= post.subHeading2 %></textarea>
        </div>
        <div class="markup">
          text markup goes here- why is this and ^ width different
        </div>
        <div class="content-input">
          <textarea name="content"><%= post.content %></textarea>
        </div>
        <div class="post-Btn">
          <button id="post-Btn" type="submit">Post</button>
        </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>