<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <%- include('../partials/header') %>

<div class="sidebar">
  <div class="pfp">
    <% if (user) { %>
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
    <% } %>
  </div>
  <div class="profile-buttons">
      <form action="/posts/new" method="GET">
        <button class="new-Btn" type="submit">Create a New Thread</button>
      </form>
  </div>
</div>

<div class="post-ctr">
  <% posts.forEach(function(p) { %>
    <div class="post">
      <article onclick="window.location='/posts/<%= p.id %>'">
        <h4><%= p.heading %></h4>
        <div class="subHeading-ctr">
          <h6><%= p.subHeading1 %></h6>
          <h6><%= p.subHeading2 %></h6>
        </div>
        <p><%= p.content %></p>
        </article>
        <div class="post-edit-btns">
          <% if (user?._id.equals(p.user)) { %>
          <form action="/posts/<%= p._id %>/threadPosts" method="POST">
            <button class="add-Btn" type="submit"><img src="https://i.imgur.com/P14Uze2.png"></button>
          </form>
          <form action="/posts/<%= p._id %>/edit" method="GET">
            <button class="edi-Btn" type="submit"><img src="https://i.imgur.com/bLLevTd.png"></button>
          </form>
          <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
            <button class="delete-Btn" type="submit"><img src="https://i.imgur.com/0mTzs5e.png"></button>
          </form>
          <% } %>
        </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
