<%- include('../partials/header') %>

<div class="container">
	<div class="back-btn">
		<button id="back" onclick="history.back()"><img src="https://i.imgur.com/AzZybLO.png"></button>
	</div>
	<div class="show-threadPost">
		<div class="tile">
			<div class="subHeadings"> 
				<div><%= thread[0].subHeading1 %></div>
				<div><%= thread[0].subHeading2 %></div>
			</div>
			<div class="content"><%= thread[0].content %></div>
		</div>
	</div>
	
	<% if (thread[0].comments.length) { %>
		<% thread[0].comments.forEach(function(c) { %>
		<div class="post-comment-ctr">
			<div class="show-post-comment">
				<div class="user-info">
					<div class="avatar">
						<img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" >
					</div>
					<div class="username">
						<%= c.userName %>
					</div>
				</div>
				<div class="posted-content"><%= c.content %></div>
				<form class="comment-menu" action="/posts/<%= post._id %>/threadPosts/<%= thread[0]._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
					<button class="comment-menu-btn" type="submit">
						<img src="https://i.imgur.com/6PeksRX.png">
					</button>
				</form>
			</div>
		</div>
		<% }) %>
	<% } %>
	
	<br>
	<div class="comment-form-ctr">
		<form class="add-comment" action="/posts/<%= post._id %>/threadposts/<%= thread[0]._id %>/comments" method="POST">
			<div class="comment-content">
				<textarea name="content" spellcheck="true" autocorrect="off"></textarea>
			</div>
			<button id="add-comment-btn" type="submit">Add Comment</button>
		</form>
	</div>
</div>

<%- include('../partials/footer') %>