<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('../partials/header') %>

<div class="show-post">
	<div class="tile">
		<div class="heading"><%= post.heading %></div>
		<div class="subHeadings"> 
			<div><%= post.subHeading1 %></div>
			<div><%= post.subHeading2 %></div>
		</div>
		<div class="content"><%= post.content %></div>
	</div>
	<div class="thread">

	</div>
</div>

<%- include('../partials/footer') %>