<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('../partials/header') %>

<div class="show-post">
	<div class="back-btn">
		<button id="back" onclick="history.back()"><img src="https://i.imgur.com/AzZybLO.png"></button>
	</div>
	<div class="tile-ctr">
		<div class="tile">
			<div class="heading"><%= post.heading %></div>
			<div class="subHeadings"> 
				<div><%= post.subHeading1 %></div>
				<div><%= post.subHeading2 %></div>
			</div>
			<div class="content"><%= post.content %></div>
		</div>
		<div class="thread-menu">
			<form class="reactions" action="/posts/" method="GET">
				<button class="react-btn" type="submit"><img src="https://i.imgur.com/94wTCj9.png"></button>
			</form>
			<form class="comments" action="/posts/" method="GET">
				<button class="comment-btn" type="submit"><img src="https://i.imgur.com/wFklCCW.png"></button>
			</form>
			<form class="dot-menu" action="/posts/" method="GET">
				<button class="dot-menu-btn" type="submit"><img src="https://i.imgur.com/pKmajeW.png">
			</form>
		</div>
	</div>

	<% if (post.threadPosts.length) { %>
		<% post.threadPosts.forEach(function(t) { %>
		<div class="thread-ctr">
			<div class="show-thread">
				<div class="subHeadings"> 
					<div><%= t.subHeading1 %></div>
					<div><%= t.subHeading2 %></div>
				</div>
				<div class="content"><%= t.content %></div>
			</div>
			<div class="thread-menu">
				<form class="reactions" action="/posts/" method="GET">
					<button class="react-btn" type="submit"><img src="https://i.imgur.com/94wTCj9.png"></button>
				</form>
				<form class="comments" action="/posts/<%= post._id %>/threadPosts/<%= t._id %>" method="GET">
					<button class="comment-btn" type="submit">
						<img src="https://i.imgur.com/wFklCCW.png">
					</button>
				</form>
				<form class="dot-menu" action="/posts/" method="GET">
					<button class="dot-menu-btn" type="submit">
						<img src="https://i.imgur.com/pKmajeW.png">
					</button>
				</form>
			</div>
		</div>
		<% }) %>
	<% } %>

	<br>
	<div class="container">
		<div class="add-to-thread" id="add-to-thread">
			<% if (user?._id.equals(post.user)) { %>
			<form id="add-to-thread" action="/posts/<%= post._id %>/threadPosts" method="POST">
				<div class="subHeadings-input"> 
					<textarea name="subHeading1" spellcheck="true" autocorrect="off" placeholder="One Piece"></textarea>
					<textarea name="subHeading2" spellcheck="true" autocorrect="off" placeholder="Chapter 501"></textarea>
				</div>
				<div class="content-input">
					<textarea id="thread-content" name="content" spellcheck="true" autocorrect="off"></textarea>
				</div>
				<button id="add-to-thread-btn" type="submit">Add to Thread</button>
			</form>
			<% } %>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>